$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';

@import '~bootstrap-sass/assets/stylesheets/bootstrap';

.container-fluid {
  background-color: #eda740;
}

.row {
  background-color: #00f;
}

.box {
  height: 250px;
  background-color: #46cee2;
  border: 5px solid #000;
}
